rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leads/{leadId} {
      allow create: if true;
      allow read, update, delete: if true;
    }
    match /admin_config/{configId} {
      allow read, write: if true;
    }
  }
}
